# Log Files
logs
*.log
yarn-error.log*

# DB Files
*.sqlite*

# Runtime data
pids
*.pid
*.seed

#ENV
.env

# Dist
dist
*.tsbuildinfo

# Yarn v2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Miscellaneous
.idea
.history
.eslintcache
testing
node_modules
docs/CNAME
